body {
  color: #414141;
  background-color: #FFFFFF;
}
h1 {
  font-family: "century-gothic";
  font-size: 25px;
}
h2 {
  font-family: "century-gothic";
  font-size: 20px;
}
h3 {
  font-family: "century-gothic";
  font-size: 15px;
}
p {
  font-family: "century-gothic";
  font-size: 10px;
}
img {
  border: 5px solid #555;
  margin: auto 10px 10px auto;
}
li {
  font-family: "century-gothic";
  font-size: 10px;
  margin-left: 10px;
  list-style-type: circle;
}
* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
}
.synopsis {
  margin-left: 250px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  font-size: 15px;
  font-weight: bold;
}
/* The sidebar menu */
.sidenav {
  padding: 6px 8px 6px 16px;
  font-family: bg-font;
  font-size: 50px;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 230px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #F3CCCC;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  font-family: bg-font;
  font-size: 20px;
  color: #414141;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #acacac;
}

@font-face {
  font-family: bg-font;
  src: url(./bg-font/brandon-grotesque-bold-italic-58a8a48221563.otf);
}

@font-face {
  font-family: "century-gothic";
  src: url("./century-gothic/CenturyGothic.ttf") format(truetype);
}