body {
  color: #414141;
  background-color: #eeeeee;
}
h1 {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 25px;
}
h2 {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 20px;
}
h3 {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 15px;
}
p {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 10px;
}
img {
  border: 5px solid #555;
  margin: auto 10px 10px auto;
}
li {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 10px;
  margin-left: 10px;
  list-style-type: circle;
}
* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
}
