*{
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #414141;
    background-color: #EEEEEE;
}
h1{
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 20px;
}
h2{
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 15px;
}
p{
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 10px;
}
img{
    border: 5px solid #555;
    margin: auto 10px 10px auto;
}